html {
  box-sizing: border-box;
  margin-right: calc(-1 * (100vw - 100%));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}


@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Regular'), url('../fonts/OpenSansRegular.woff2') format("woff2"),
    url('../fonts/OpenSansRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Bold'), url('../fonts/OpenSansBold.woff2') format("woff2"),
    url('../fonts/OpenSansBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-Italic'), url('../fonts/OpenSansItalic.woff2') format("woff2"),
    url('../fonts/OpenSansItalic.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans-SemiBold'), url('../fonts/OpenSansSemiBold.woff2') format("woff2"),
    url('../fonts/OpenSansSemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

*:root {
  --text-color-light: #fff;
  --text-color-dark: #333333;
  --violet: #7943A4;
  --light-violet: #9D5CD0;
  --lavander: #D1A9F0;
  --purple: #C283F3;


}

*:focus-visible {
  outline: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.container {
  max-width: 1700px;
  padding: 0px 50px;
  margin: 0 auto;
}

/*header*/
.header {
  position: relative;
  z-index: 10;
}

.header__bgupper {
  background-color: #000;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.45%;
  padding-bottom: 1.6%;
}

.burger {
  display: none;
}

.header__nav {
  display: flex;
  flex-basis: 78%;
  justify-content: space-between;
  align-items: center;
}

.header__extra {
  display: none;
}

.nav__list {
  display: flex;
  flex-basis: 80%;
  align-items: center;
}

.nav__note,
.header__note,
.menu__note {
  position: relative;
  z-index: 100;
  color: var(--text-color-light);
  transition: color 0.2s ease-in-out;
}

.menu__note {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.nav__item:not(:last-child) {
  margin-right: 6.24%;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

}


.nav__link::before,
.header__entrance::before,
.menu__btn::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 6%;
  left: -12%;
  width: 124%;
  height: 100%;
  background-color: var(--violet);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.menu__btn::before {
  left: -10%;
  width: 118%;
}

.nav__link:focus-visible::before,
.header__entrance:focus-visible::before,
.menu__btn:focus-visible::before {
  opacity: 1;
}


.nav__note:hover:not(:focus-visible),
.menu__note:hover:not(:focus-visible),
.header__note:hover:not(:focus-visible) {
  color: var(--purple);
}

.nav__note:active:not(:focus-visible),
.menu__note:active:not(:focus-visible),
.header__note:active:not(:focus-visible) {
  color: var(--violet);
}

.header__entrance {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}



.header__entrance svg {
  width: 13px;
}


.header__lower {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.lower__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__select:not(:last-child) {
  margin-right: 19.9%;
}


.menu {
  display: flex;
  width: 66.4%;
  z-index: 10;
  justify-content: space-between;
}

.menu__item {
  position: relative;
  flex-basis: 2%;
  margin-right: auto;
}


.menu__btn {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color-light);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.menu__btn svg {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in-out;
}

.menu__extra {
  margin-right: 1px;
}

.menu__btn--active svg {
  transform: rotate(180deg);
}


.stop-scroll {
  overflow: hidden;
}

.dropdown__link {
  position: relative;
  display: inline-block;
  padding: 8px 124px 11px 14px;
  width: 220px;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color-light);
  transition: outline 0.2s ease-in-out;
}

.dropdown__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--purple);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dropdown__link:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--light-violet);
}

.dropdown__link:hover:not(:focus-visible):not(:active) {
  outline: 2px solid var(--light-violet);
}

.dropdown__link:active:not(:focus-visible):after {
  opacity: 0.4;
}

.dropdown {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 300px;
  max-height: 300px;
  opacity: 0;
  transform: scaleY(0);
  padding: 39px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transform-origin: top;
}

.menu__item {
  position: relative;
  padding: 21px 0;
  margin-right: 30px;
}

.dropdown__list {
  max-height: 200px;
}

.dropdown--active {
  visibility: visible;
  transform: scaleY(1);
  opacity: 1;
  transform-origin: top;
}

.dropdown,
.dropdown--active {
  transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.2s ease;
  transform-origin: top;
}

.dropdown--active {
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
}

.dropdown__item:not(:nth-child(6n)) {
  margin-bottom: 22px;
}

.dropdown__tyn {
  background-image: url('../img/dropdown__Tyn.jpg');
}

.dropdown__fri {
  background-image: url('../img/dropdown__Fri.jpg');
}

.dropdown__leo {
  background-image: url('../img/dropdown__Leo.jpg');
}

.dropdown__ver {
  background-image: url('../img/dropdown__Ver.jpg');
}

.dropdown__mon {
  background-image: url('../img/dropdown__mon.jpg');
}

.dropdown__sys {
  background-image: url('../img/dropdown__sys.jpg');
}

.dropdown__man {
  background-image: url('../img/dropdown__man.jpg');
}

.dropdown__ren {
  background-image: url('../img/dropdown__ren.jpg');
}

.dropdown__van {
  background-image: url('../img/dropdown__van.jpg');
}

.dropdown__sez {
  background-image: url('../img/dropdown__sez.jpg');
}

.dropdown__gog {
  background-image: url('../img/dropdown__gog.jpg');
}

.dropdown__ser {
  background-image: url('../img/dropdown__ser.jpg');
}

.dropdown__kan {
  background-image: url('../img/dropdown__kan.jpg');
}

.dropdown__mar {
  background-image: url('../img/dropdown__mar.jpg');
}

.dropdown__mal {
  background-image: url('../img/dropdown__mal.jpg');
}

.dropdown__pic {
  background-image: url('../img/dropdown__pic.jpg');
}

.dropdown__car {
  background-image: url('../img/dropdown__car.jpg');
}

.dropdown__pra {
  background-image: url('../img/dropdown__pra.jpg');
}

.dropdown__sev {
  background-image: url('../img/dropdown__sev.jpg');
}

.dropdown__bal {
  background-image: url('../img/dropdown__bal.jpg');
}

.lower__search {
  display: flex;
}

.lower__form,
.upper__form {
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 0.2% 0 0 0;
  transition: transform 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

.lower__form .lower__btn {
  display: none;
}

.search__close,
.form__close {
  display: none;
}

.input {
  width: 100%;
  min-width: 218px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  line-height: 1.4;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
  transition: border-bottom 0.2s ease-in-out;
}

.input:focus-visible {
  border-bottom: 1px solid rgba(121, 67, 164, 1);
}

.input:hover:not(:focus-visible) {
  border-bottom: 1px solid rgba(194, 131, 243, 1);
}

.input:active:not(:focus-visible) {
  border-bottom: 1px solid rgba(121, 67, 164, 1);
}


.input::placeholder {
  color: #CACACA;
  font-size: 18px;
  line-height: 25px;
}

.search__lower svg,
.header__search svg,
.lower__btn svg {
  margin-right: 8px;
}

.lower__btn svg rect,
.lower__btn svg path,
.search__lower svg rect,
.search__lower svg path,
.header__search svg rect,
.header__search svg path {
  fill: var(--text-color-light);
  transition: fill 0.2s ease-in-out;
}

.lower__btn:focus-visible svg rect,
.lower__btn:hover svg rect,
.lower__btn:focus-visible svg path,
.lower__btn:hover svg path,
.search__lower:focus-visible svg rect,
.search__lower:hover svg rect,
.search__lower:focus-visible svg path,
.search__lower:hover svg path,
.header__search:focus-visible svg rect,
.header__search:hover svg rect,
.header__search:focus-visible svg path,
.header__search:hover svg path {
  fill: var(--light-violet);
}

.header__search:active svg rect,
.header__search:active svg path,
.lower__btn:active svg rect,
.lower__btn:active svg path,
.search__lower:active svg rect,
.search__lower:active svg path {
  fill: var(--violet);
}



.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.dropdown--active .simplebar-track.simplebar-vertical {
  top: 39px;
  bottom: 40px;
  background-color: #000;
  width: 2px;
  right: 18.5px;

}


.dropdown--active .simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0px;
  bottom: 0px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.simplebar-track {
  background-color: transparent;
}


/*hero*/
.hero {
  position: relative;
  z-index: 1;
}

.hero__container {
  position: relative;
  z-index: 10;
  padding: 8.4% 66% 7.6% 0%;
}

.hero__title {

  z-index: 10;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  color: var(--text-color-light);
}

.hero__descr {

  margin-bottom: 16.5%;
  z-index: 10;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-light);
}

.hero__btn {
  padding: 22.5px 35px;
  z-index: 10;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--text-color-light);
  background-color: var(--light-violet);
  border-radius: 100px;
  transition: outline 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hero__btn:focus-visible:not(:hover):not(:active) {
  outline: 2px solid var(--purple);
  outline-offset: 3px;
  border-radius: 100px;
}

.hero__btn:hover:not(:focus-visible):not(:active) {
  outline: 3px solid var(--lavander);
  border-radius: 100px;
}

.hero__btn:active:not(:focus-visible) {
  outline: 3px solid var(--lavander);
  background-color: var(--violet);
}

.swiper-container {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.first-slide {
  background-image: url('../img/hero-bg1-1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius-max);
}

.second-slide {
  background-image: url('../img/hero-bg2-1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius-max);
}

.third-slide {
  background-image: url('../img/hero-bg3-1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--radius-max);
}

/*about*/
.about {
  padding: 4.3% 0 3.69% 0%;
}

.about__container {
  padding-right: 34%;
}

.gallery__title,
.about__title,
.catalog__title,
.events__title,
.projects__title{
  margin-bottom: 1.4%;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color-dark);
}

.about__descr,
.events__descr,
.projects__descr,
.contacts__descr {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-dark);
}

/*gallery*/
.gallery {
  padding-top: 4.2%;
  padding-bottom: 4.2%;
  background-image: url('../img/gallery-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__title {
  margin-bottom: 5.6%;
  color: var(--text-color-light);

}

.gallery__note {
  display: flex;
  flex-direction: column;
  margin-bottom: 44%;
  color: var(--text-color-light);
}

.gallery__select {
  color: var(--text-color-light);
}

.gallery__content {
  width: 25%;
}

.gallery__extra {
  margin-bottom: 4.5%;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
}

.choices__inner {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  border-radius: 6px;
  min-height: auto;
}

.is-open .choices__inner {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  border-radius: 6px;
  min-height: auto;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  background-color: transparent;
  border: 1px solid var(--text-color-light);
  border-radius: 6px;
  font-size: 16px;
  color: #999999;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--single {
  padding: 2px 16px 3px 6px;
}


.choices[data-type*=select-one]::after {
  accent-color: currentcolor;
  content: "";
  position: absolute;
  z-index: 3;
  right: 15.7px;
  top: 50%;
  height: 7px;
  width: 7px;
  border-right: 1px solid var(--text-color-light);
  border-bottom: 1px solid var(--text-color-light);
  margin-top: -3px;
  transform: rotate(45deg);
  pointer-events: none;
  transition: transform .3s ease-in-out, margin-top .3s ease-in-out;
}

.choices[data-type*=select-one]:focus-visible::after {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -2px;
  border-right: 1px solid var(--text-color-light);
  border-bottom: 1px solid var(--text-color-light);
  transform: rotate(225deg);
}

.choices__list--dropdown .choices__item:not(:last-child),
.choices__list[aria-expanded] .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color-light);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 9px 10px 11px 14px;
  font-size: 16px;
}

.choices__inner:focus-visible,
.choices:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:hover:not(:focus-visible) {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one].is-open .choices__inner:hover:not(:focus-visible) {
  background-color: transparent;
}

.gallery__check {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  transform: scale(0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.visible-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-color-light);
  vertical-align: middle;
  transition: border-color .3s ease-in-out;
}

.visible-checkbox::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  background-color: var(--purple);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease-in-out;
}

.visible-checkbox:hover:not(:focus-visible) {
  border-color: var(--purple);
}

.gallery__text:hover .visible-checkbox {
  border-color: var(--purple);
}

.gallery__checkbox:checked~.visible-checkbox {
  border-color: var(--purple);
}

.gallery__checkbox:checked~.visible-checkbox::before,
.gallery__checkbox:checked~.check-text {
  opacity: 1;
  color: var(--purple);
}

.gallery__checkbox:focus-visible~.visible-checkbox,
.gallery__checkbox:focus-visible~.check-text {
  border-color: var(--purple);
  color: var(--purple);
}

.gallery__checkbox:focus-visible~.visible-checkbox::before {
  border-color: var(--purple);
}



.check-text {
  padding-left: 2%;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-light);
  transition: color .3s ease-in-out;
}

.gallery__swiper {
  width: 100%;
}

.gallery__text {
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  margin: 0 auto;
}


.gallery__slider {
  padding: 1.9% 0% 0% 0%;
  width: 72%;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.slider__next,
.slider__prev {
  position: static;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: #666;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.slider__prev.swiper-button-disabled,
.slider__next.swiper-button-disabled {
  background-color: rgba(236, 236, 236, 0.5);
}

.slider__prev.swiper-button-disabled path,
.slider__next.swiper-button-disabled path {
  stroke: #cacaca;
  opacity: 1;
}

.slider__prev svg {
  transform: rotate(180deg);
}

.slider__prev path {
  stroke: #fff;
  transition: stroke 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.slider__prev:focus-visible:not(:hover),
.slider__next:focus-visible:not(:hover) {
  border: 2px solid #000;
}

.slider__prev:hover,
.slider__next:hover {
  background-color: var(--light-violet);
}

.slider__prev:active,
.slider__next:active {
  border: 2px solid #000;
  background-color: var(--violet);
}

.slider__btn {
  position: relative;
  outline: 3px solid transparent;
  transition: outline 0.2s ease-in-out;
}

.slider__btn:focus-visible:not(:active) {
  outline: 3px solid var(--violet);
  outline-offset: -3px;
}

.slider__btn:hover::before {
  opacity: 1
}

.slider__btn:active::after {
  opacity: 1
}

.slider__btn::before {
  position: absolute;
  content: "";
  top: 6%;
  left: 8%;
  width: 85%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/loop.svg);
  background-repeat: no-repeat;
  background-position: 50% 47%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.slider__btn::after {
  position: absolute;
  content: "";
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__top {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 135px;
  padding-left: 0.5%;
  margin-bottom: 2.6%;
}

.slider__pagination {
  position: static;
  color: var(--text-color-light);
}


.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  z-index: 9;
}


.modal__main {
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal__box {
  position: relative;
  z-index: 1;
  max-width: 900px;
  background-color: var(--text-color-light);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  transform: scale(0);
  transition: transform 0.6s ease-in-out;
}

.modal__slide1 {
  background-image: url(../img/gallery-slide1-320.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.modal__slide2 {
  background-image: url(../img/gallery-slide2-320.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.modal__slide3 {
  background-image: url(../img/gallery-slide3-320.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.modal__slide4 {
  background-image: url(../img/gallery-slide4-320.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.modal__slide5 {
  background-image: url(../img/gallery-slide5-320.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.modal__slide6 {
  background-image: url(../img/gallery-slide6-768.jpg);
  background-repeat: no-repeat;
  background-size: 44.5% 100%;
  background-position: left center;
}

.box__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color-dark);
}

.box__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-color-dark);
}

.box__info {
  display: block;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.box__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-dark);
}

.box__close svg path {
  fill: #000;
  transition: fill 0.2s ease-in-out;
}

.box__close:focus-visible svg path,
.box__close:hover svg path {
  fill: var(--light-violet);
}

.box__close:active svg path {
  fill: var(--violet);
}

.box__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.box__content {
  padding: 119px 50px 182px 448px;
}

.modal__main.open {
  visibility: visible;
  opacity: 1;
}

.modal__main.open .modal__box {
  transform: scale(1);
}

/*catalog*/
.catalog {
  padding-top: 4.1%;
  padding-bottom: 4%;
}

.catalog__title {
  margin-bottom: 1%;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__descr {
  padding-right: 32%;
  margin-bottom: 2.5%;
}

.tabs__text {
  display: none;
}

.tabs__text--active {
  display: block;
}

.accordion__content {
  visibility: hidden;
  overflow: hidden;
  transition-property: height, visibility;

}

.accordion-active .accordion__content {
  visibility: visible;
}

.catalog__descr,
.content__descr,
.names__link {
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color-dark);
}

.content__title,
.catalog__subtitle,
.catalog__name,
.catalog__subtext,
.events__subtitle,
.projects__subtitle {
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color-dark);
}

.content__tabs {
  width: 47%;
}


.catalog__accordion {
  width: 50%;
}

.content__extra {
  display: inline-block;
  margin-bottom: 1.8%;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.content__title {
  margin-bottom: 0.5%;
  font-size: 23px;
}


.content__special {
  font-size: 23px;
}

.catalog__list {
  width: 100%;
}

.content__descr:not(:nth-child(12)) {
  margin-bottom: 2.5%;
}

.content__img {
  margin-bottom: 3.8%;
}

.names__list {
  columns: 3;
  flex-basis: 100%;
  padding: 3% 0% 4% 0;
}

.catalog__btn {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
}

.catalog__name {
  position: relative;
  z-index: 10;
  transition: color 0.2s ease-in-out;
}

.catalog__name::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-violet);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}



.catalog__item .catalog__subtitle {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 32px 0;
  border: 1px solid transparent;
  border-top-color: #CACACA;
  border-bottom-color: #CACACA;
  transition: border-bottom-color 0.2s ease-in-out, border-top-color 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.catalog__btn:focus-visible:not(:active):not(:hover) .catalog__name::after,
.catalog__btn:focus-visible:not(:active):not(:hover) .catalog__name {
  opacity: 1;
  color: var(--text-color-light);
}

.catalog__btn:hover:not(:active) .catalog__name,
.catalog__btn:hover:not(:active):not(:focus-visible) .catalog__name::after {
  color: var(--light-violet);
  background-color: var(--text-color-light);
}

.catalog__btn:active .catalog__name {
  color: var(--violet);
}


.catalog__btn:focus-visible:not(:active) .catalog__arrow {
  background-color: var(--lavander);
}

.catalog__btn:hover .catalog__arrow {
  background-color: var(--lavander);
}

.catalog__btn:active .catalog__arrow {
  border: 2px solid var(--light-violet);
  background-color: var(--lavander);
  transform: rotate(180deg);
}

.catalog__item:hover:not(:focus-visible) .catalog__subtitle {
  border-top-color: var(--light-violet);
  border-bottom-color: var(--light-violet);
  z-index: 10;
}

.accordion-active .catalog__arrow {
  border: 2px solid var(--light-violet);
  background-color: var(--lavander);
}

.accordion-active .catalog__name,
.accordion-active .catalog__subtitle {
  color: var(--violet);
  border-top-color: var(--violet);
  border-bottom-color: var(--violet);
}


.catalog__item:not(:first-child) {
  margin-top: -1px;
}

.catalog__arrow {
  margin-left: 20px;
  display: block;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #ECECEC;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, transform 0.2s ease-in-out;

}

.catalog__arrow svg {
  vertical-align: text-bottom;
}

.accordion-active .catalog__arrow {
  transform: rotate(180deg);
}

.accordion-active .accordion__content {
  border-bottom: 1px solid #CACACA;

}

.names__link {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid transparent;
  transition: background-color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.names__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--light-violet);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.names__link:focus-visible:not(:active)::after {
  opacity: 1;
}

.names__link:hover:not(:focus-visible):not(:active) {
  border-bottom: 1px solid var(--light-violet);
}

.catalog__img {
  min-width: 275px;
  min-height: 189px;
  background-image: url('../img/none.jpg');
  background-repeat: no-repeat;
  background-size: contain;

}

.catalog__box {
  display: flex;
  padding: 22px 0;
}

.catalog__none {
  padding: 5% 29% 4% 3%;
}

.catalog__subtext {
  margin-bottom: 7px;
  font-size: 23.4px;
}

.catalog__note {
  margin-bottom: 13px;
}

.catalog__link,
.events__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-violet);
}

.catalog__link {
  position: relative;
  z-index: 10;
  transition: color 0.2s ease-in-out;
}

.content__tab {
  padding: 67% 0% 0% 0%;
  background-image: url('../img/artist-none.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


/*events*/

.events {
  padding: 0.3% 0;
}

.events__common {
  display: flex;
  flex-direction: column;
  border: 1px solid #CACACA;
}

.events__one,
.events__two,
.events__three,
.events__four,
.events__five {
  width: 100%;
  margin-bottom: 2%;
}

.events__extra {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__extra:nth-child(2) {
  margin-bottom: 3%;
}

.events__btn {
  position: relative;
  z-index: 10;
}


.events__border {
  font-weight: 400;
  border-bottom: 1px solid;
  border-bottom-color: var(--light-violet);
  color: var(--light-violet);
  transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
}


.events__btn::after,
.projects__url::after,
.catalog__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -5px;
  width: 112%;
  height: 134%;
  background-color: var(--light-violet);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.projects__url::after {
  top: -1px;
  left: -4px;
  width: 104%;
  height: 122%;
}

.catalog__link::after {
  top: 0px;
  left: -3px;
  width: 108%;
  height: 115%;
}

.events__btn:focus-visible:not(:hover) .events__border,
.catalog__link:focus-visible:not(:hover) {
  color: var(--text-color-light);
  border-bottom-color: var(--text-color-light);
}

.events__btn:focus-visible:not(:hover)::after,
.projects__url:focus-visible:not(:hover)::after,
.catalog__link:focus-visible:not(:hover)::after {
  opacity: 1;
}

.events__border:hover:not(:active),
.catalog__link:hover:not(:active) {
  color: var(--violet);
  border-bottom: 1px solid var(--violet);

}

.events__border:active,
.catalog__link:active {
  color: var(--text-color-dark);
  border-bottom: 1px solid var(--text-color-dark);
}

.events__title {
  margin-bottom: 1%;
}


.events__subtitle {
  margin-bottom: 2.5%;
  font-size: 23px;
}


.events__content {
  padding: 0% 11% 9% 9.5%;
}

.events__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 339px;
}

.events__swiper {
  padding-right: 9px;
}

.events__pagination {
  visibility: hidden;
}

.events__next {
  width: 50px;
  height: 50px;
  left: 98.5%;
  background-color: #ECECEC;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.events__next svg {
  transform: rotate(-90deg);
}

.events__prev {
  left: -1.5%;
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

}

.events__prev svg {
  transform: rotate(90deg);
}


.events__prev:focus-visible,
.events__next:focus-visible {
  border: 2px solid var(--light-violet);
}

.events__prev:hover:not(:focus-visible),
.events__next:hover:not(:focus-visible) {
  background-color: var(--lavander);
}

.events__prev:active,
.events__next:active {
  border: 2px solid var(--light-violet);
  background-color: var(--lavander);
}

.events__prev.swiper-button-disabled,
.events__next.swiper-button-disabled {
  opacity: 0;
  cursor: default;
}

.events__slider {
  position: relative;
}

/*projects*/
.projects {
  padding: 4% 0 4.3% 0;
  border-bottom: 1px solid #CACACA;
}

.projects__title {
  margin-bottom: 1%;
}

.projects__descr {
  padding-right: 35%;
  margin-bottom: 1.2%;
}

.projects__subtitle {
  margin-bottom: 1.3%;
  font-size: 23px;
}

.projects__swiper {
  position: relative;
  z-index: 1;
  width: calc(1450 / 1600 * 100%);
  height: 150px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;

}

.projects__next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: var(--swiper-navigation-top-offset, 64%);
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #ECECEC;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}


.projects__prev {
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: var(--swiper-navigation-top-offset, 64%);
  left: 0;
  background-color: #ECECEC;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

}

.projects__prev svg {
  transform: rotate(180deg);
}


.projects__prev:focus-visible,
.projects__next:focus-visible {
  border: 2px solid var(--light-violet);
}

.projects__prev:hover:not(:focus-visible),
.projects__next:hover:not(:focus-visible) {
  background-color: var(--lavander);
}

.projects__prev:active,
.projects__next:active {
  border: 2px solid var(--light-violet);
  background-color: var(--lavander);
}

.projects__slider {
  position: relative;
}


.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #CACACA;
  transition: border .3s ease-in-out;
}

.projects__link img {
  width: auto;
  height: auto;
  filter: grayscale(1);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.projects__link:focus-visible:not(:hover) {
  border: 1px solid var(--light-violet);
}

.projects__link:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.projects__link:active {
  border: 1px solid var(--light-violet);
}



.projects__marker {
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.projects__marker path {
  fill: black;
}

.projects__marker svg {
  border-radius: 50%;
  border: 1px solid var(--light-violet);
  vertical-align: middle;
}

.tippy-box[data-theme~='violet'] {
  border-radius: 0;
  background-color: var(--light-violet);
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.tippy-box[data-theme~='violet'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--light-violet);
}

.tippy-box[data-theme~='violet'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: var(--light-violet);
}

.tippy-box[data-theme~='violet'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: var(--light-violet);
}

.tippy-box[data-theme~='violet'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: var(--light-violet);
}


.projects__marker:hover svg,
.projects__marker:focus-visible svg,
.projects__marker:focus-visible path,
.projects__marker:hover path {
  opacity: 1;
  background-color: var(--lavander);
  border: 1px solid var(--light-violet);

}


.projects__marker:active svg,
.projects__marker:active path {
  opacity: 1;
  fill: var(--text-color-light);
  background-color: var(--light-violet);
}

.projects__url {
  position: relative;
  z-index: 10;
  color: var(--light-violet);
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}

.projects__url:focus-visible:not(:hover) {
  color: var(--text-color-light);
}

.projects__url:hover:not(:active) {
  color: var(--light-violet);
  border-bottom: 1px solid var(--light-violet);
}

.projects__url:active {
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
}

/*contacts*/

.contacts {
  padding: 2.5% 0 0% 0;
}


.contacts__address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2%;
}

.contacts__subtitle {
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: var(--text-color-dark);
}

.form__input {
  padding: 15px 60px 15px 24px;
  border: 1px solid var(--text-color-dark);
  border-radius: 100px;
  transition: background-color 0.2s ease-in-out;
}

.form__input:focus-visible:not(:active) {
  background-color: var(--text-color-light);
}

.form__input:hover:not(:focus-visible) {
  background-color: #ececec;
}

.contacts__form {
  display: flex;
  margin-right: 17px;
  flex-basis: 69%;
  align-items: baseline;
  justify-content: space-between;
}

.form__extra {
  display: flex;
  justify-content: center;
  flex-basis: 62%;
  margin-right: 7px;
}

.form__btn {
  padding: 12.5px 33px;
  flex-shrink: 0;
  margin-bottom: 1%;
  border: 2px solid var(--light-violet);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--light-violet);
  text-align: center;
  transition: outline 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form__btn-mobile {
  display: none;
}



.form__btn:focus-visible:not(:hover) {
  outline: 2px solid var(--purple);
  outline-offset: 3px;
  border-radius: 100px;
}

.form__btn:hover:not(:active) {
  background-color: var(--light-violet);
  color: var(--text-color-light);
}

.form__btn:active {
  background-color: var(--violet);
  color: var(--text-color-light);
  border: 2px solid var(--lavander);
}

.contacts__content {
  flex-basis: 25%;
  margin-right: 15px;
}

.contacts__socials {
  flex-shrink: 1;
}

.contacts__extra {
  margin-bottom: 2%;
}

.contacts__social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 22px;
}

.social__wp svg,
.social__tg svg {
  opacity: 1;
  transition: opacity 0.2s ease-in-out, outline 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.social__wp:focus-visible svg,
.social__wp:hover svg,
.social__tg:focus-visible svg,
.social__tg:hover svg {
  opacity: 0.5;
}

.social__wp:active svg,
.social__tg:active svg {
  opacity: 1;
  outline: 1px solid var(--light-violet);
  outline-offset: -1px;
  border-radius: 100px;
}

.form__label {
  position: relative;
  margin-right: 3%;
}

.form__label .js-validate-error-label {
  position: absolute;
  top: -17px;
  padding-left: 25px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.contacts__descr {
  line-height: 22px;
}

.contacts__note {
  display: flex;
  flex-basis: 82%;
  align-items: center;
  margin-bottom: 2%;
}

/*map*/
[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none !important;
}

.contacts__map {
  height: 704px;
  width: 100%;
}

/*footer*/

.footer {
  padding: 2.5% 0;
  background-color: #000;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__soc {
  display: flex;
}

.soc__vk path,
.soc__ok path {
  fill: #CACACA;
}

.soc__vk:focus-visible path,
.soc__vk:hover path,
.soc__ok:focus-visible path,
.soc__ok:hover path {
  fill: var(--text-color-light);
}

.soc__vk:active path,
.soc__ok:active path {
  fill: var(--light-violet);
}

.soc__vk {
  margin-right: 20px;
}
